-f https://download.pytorch.org/whl/torch_stable.html
-f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
ase
certifi
chardet
CityFlow @ git+https://github.com/cityflow-project/CityFlow@75f31b8ccc04bf0dd2952b704fdd3e20982cc78f
cycler
decorator
googledrivedownloader
h5py
idna
install
isodate
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
networkx
numba
numpy
orjson
pandas
Pillow
pycairo
pyparsing
python-dateutil
python-louvain
pytz
rdflib
requests
scikit-learn
scipy
six
threadpoolctl
torch
torch-cluster
torch-geometric
torch-scatter
torch-sparse
torch-spline-conv
torchaudio
torchvision
tqdm
typing-extensions
urllib3
